<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcl.hxqh.liangqingmanagement">

    <!-- permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Permission for Unit Test -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SampleTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PermissionsActivity"
            android:label="PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ConnectSettingActivity"
            android:label="ConnectSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CardLoginActivity"
            android:label="CardLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FastLoginActivity"
            android:label="FastLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_grainjcListActivity"
            android:label="N_grainjcListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_grainjcDetailsActivity"
            android:label="N_grainjcDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_grainjcAddActivity"
            android:label="N_grainjcAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_sampleDetailsActivity"
            android:label="N_sampleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_sampleAddActivity"
            android:label="N_sampleAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_carDetailsActivity"
            android:label="N_carDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_carAddActivity"
            android:label="N_carAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_carlineListActivity"
            android:label="N_carAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_carlineDetailsActivity"
            android:label="N_carlineDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_carlineAddActivity"
            android:label="N_carlineAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_wtlineDetailsActivity"
            android:label="N_wtlineDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CarPlanChooseActivity"
            android:label="CarPlanChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkorderListActivity"
            android:label="WorkorderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkorderJinJiActivity"
            android:label="WorkorderJinJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkorderJinJiAddActivity"
            android:label="WorkorderJinJiAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkorderDetailsActivity"
            android:label="WorkorderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkorderAddNewActivity"
            android:label="WorkorderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AssetChooseActivity"
            android:label="AssetChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PersonChooseActivity"
            android:label="AssetChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CclqjcdActivity"
            android:label="CclqjcdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.QydActivity"
            android:label="QydActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HyybActivity"
            android:label="HyybActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WtlineActivity"
            android:label="WtlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PersonActivity"
            android:label="PersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_cartaskActivity"
            android:label="N_cartaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkOrderActivity"
            android:label="WorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_labapysActivity"
            android:label="N_labapysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_labapysDetailsActivity"
            android:label="N_labapysDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_labapyruleActivity"
            android:label="N_labapyruleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VersionActivity"
            android:label="VersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvuselineDetailsActivity"
            android:label="InvuselineDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GhAddActivity"
            android:label="GhAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvuseActivity"
            android:label="InvuseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvuseDetailsActivity"
            android:label="InvuseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvuseLineActivity"
            android:label="InvuseLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvuseLine1DetailsActivity"
            android:label="InvuseLine1DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.JyAddActivity"
            android:label="JyAddActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.activity.SettingActivity"
            android:label="WorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FastLoginSettingActivity"
            android:label="FastLoginSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SampnumChooseActivity"
            android:label="SampnumChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PhotoActivity"
            android:label="PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WxDemoActivity"
            android:label="WxDemoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/ImagePickerThemeFullScreen"/>

        <activity
            android:name=".view.activity.MipcaActivityCapture"
            android:label="MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zcl.hxqh.liangqingmanagement.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".view.activity.Nfc_Activity" />
        <activity android:name=".view.activity.ChooseActivity" />

        <activity
            android:name=".view.activity.N_wtlineAddActivity"
            android:label="@string/title_activity_n_wtline_add"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.CarNoXZActivity"
            android:label="CarNoXZActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.N_cartaskDetailsActivity"
            android:label="N_cartaskDetailsActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.WtlaborDetailsActivity"
            android:label="WtlaborDetailsActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.PersonDetailsActivity"
            android:label="PersonDetailsActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.N_cartaskListActivity"
            android:label="N_cartaskActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.N_instrucstaskActivity"
            android:label="N_instrucstaskActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.N_instrucstaskDetailsActivity"
            android:label="N_instrucstaskDetailsActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.N_rostcActivity"
            android:label="N_rostcActivity"
            android:theme="@style/SampleTheme"></activity>
        <activity
            android:name=".view.activity.N_rostcDetailsActivity"
            android:label="N_rostcDetailsActivity"
            android:theme="@style/SampleTheme"></activity>
    </application>

</manifest>